 ---
 const {texte, fill, couleur_btn, none, lien_btn} = Astro.props;
 
 ---
 <a class="decoration-off" href={`${lien_btn}`}>
  <div class={`btn-hero ${couleur_btn} ${none}`}>
          <span>{texte}</span>
          <svg class="rotate-arrow" width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M21.5 0C9.62583 0 0 9.62583 0 21.5C0 33.3741 9.62583 43 21.5 43C33.3742 43 43 33.3741 43 21.5C43 9.62583 33.3742 0 21.5 0ZM28.3587 16.4321V25.5286C28.3587 26.5181 27.5574 27.3203 26.5671 27.3203C25.5767 27.3203 24.7754 26.5181 24.7754 25.5286V20.7578L17.6997 27.8347C17.3498 28.1846 16.8914 28.3596 16.4329 28.3596C15.9745 28.3596 15.5161 28.1846 15.1662 27.8347C14.4663 27.1357 14.4663 26.001 15.1662 25.3012L22.2424 18.2237H17.4722C16.4819 18.2237 15.6806 17.4215 15.6806 16.4321C15.6806 15.4426 16.4819 14.6404 17.4722 14.6404H26.5671C26.8003 14.6404 27.0327 14.688 27.2516 14.7785C27.69 14.9602 28.039 15.3092 28.2206 15.7474C28.3112 15.9663 28.3587 16.1987 28.3587 16.4321C28.3587 16.4322 28.3587 16.432 28.3587 16.4321Z"
              fill={fill} />
        </svg>
</div>
</a>