---
const { lang, index, href, text, currentPath } = Astro.props;
const isActive = currentPath === href ? 'active-nav' : '';
---

<div lang={lang} data-index={index} class="nav-item">
  <a class={isActive} href={href}>{text}</a>
</div>