---
// ProjetItem.astro
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

const { titreProjet, descriptionProjet, imageProjet, lang } = Astro.props;
---

<div class="projet building" data-category="office" lang={lang} class="test">
    <div class="conteneur_checkbox_projet">
        <div class="button">
            <div class="titre-building">{titreProjet}</div>
            <div class="titre symbole">&#43;</div>
        </div>
        <input
        aria-label="Checkbox first project"
        type="checkbox"
        class="state"
        hidden
      />
    </div>
    <div class="content">
        <div class="inner">
          <div class="conteneur-img-building-portrait">
            <img
              class="img-building"
              src={`${imageProjet}`} alt={`${titreProjet}`}
            />
          </div>
          <div class="conteneur_projet_texte_portrait">
            <p set:html={documentToHtmlString(descriptionProjet)}></p>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- <div class="projet building" data-category="office">
    <div class="conteneur_checkbox_projet">
      <div class="button">
        <div lang="fr" class="titre-building">Tour Telus</div>
        <div lang="en" class="titre-building">Telus Tower</div>
        <div class="titre symbole">&#43;</div>
      </div>
      <input
        aria-label="Checkbox first project"
        type="checkbox"
        class="state"
        hidden
      />
    </div>

    <div class="content">
      <div class="inner">
        <div class="conteneur-img-building-portrait">
          <img
            class="img-building"
            src="/images/buildings/tour-telus.webp"
          />
        </div>
        <div class="conteneur_projet_texte_portrait">
          <p lang="en">Panneau d'alarme incendie - Siemens XLS</p>
          <p lang="fr">Fire alarm pannel - Siemens XLS</p>
        </div>
      </div>
    </div>
  </div> -->
