---
const { lang, index, href, text, currentPath, isActive} = Astro.props;

// Build the expected full URL for the nav item, including the language
const expectedUrl = `${href}`;
console.log("IS ACTIVE",isActive);
---
<div lang={lang} data-index={index} class="nav-item">
  <a  class={`${isActive ? 'active-onglet' : ''}`} href={href}>{text}</a>
</div>